<style>	
/* body configurations. Padding */
	body {
		padding: 14px;
	}

/* Configurations that will box section content */	
.content {
        background-color: #F8F0E3;
        padding: 10px;
        border: 1px solid black;
    }
/*Set width options*/

	@media screen and (max-width: 400px) {
		.column {
			width: 100%;
		}
	}
	@media screen and (max-width: 800px) {
		.column {
			width: 50%;
		}
	}
</style>
